@media screen and (min-width:1150px) {
	.nav-items {
		display: flex;
		flex-direction: row;
		color: white;
	}
	.nav-items .nav-item {
		padding: 25px 25px;
	}
	#product-image {
		height: 550px;
	}
	#tower-image {
		height: 500px;
	}
	#rack-image {
		height: 500px;
	}
	.solution {
		display: flex;
		flex-direction: column;
	}
	.solution {
		width: 1150px;
		padding: 20px;
		margin: 75px;
		border: 8px solid #00b389;
		font-size: 17px;
	}
	#networking {
		border: 8px solid #f48220;
	}
	.comment {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.comment {
		padding: 20px;
		width: 1150px;
		margin-right: 75px;
		margin-left: 75px;
	}
	.comment {
		border-bottom: 3px solid #00b389;
		border-top: 3px solid #f48220;
		font-size: 17px;
	}
	.Antonio {
		margin-right: 25px;
	}
	.robot {
		height: 150px;
	}
	.jump-to-top {
		position: fixed;
		;
		bottom: 0;
		right: 0;
	}
	.main-footer {
		border-top: 3px solid #f48220;
		align-items: center;
	}
	.solution-desc-icn {
		height: 65px;
		padding: 20px 10px;
	}
	#advertisement{
	border: none;
	align-items: center;
	}
	#advertisement{
		 margin:none;
		 padding:none;
		}


}